* {
    margin: 0;
    padding: 0;
    font-family: 'Gilroy';
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

.page {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page1 {
    background-color: aqua;
}

#page2 {
    background-color: greenyellow;
}

#page3 {
    background-color: pink;
}

#page4 {
    background-color: lightgray;
}

#page5 {
    background-color: lightgreen;
}

#page6 {
    background-color: lightgoldenrodyellow;
}

#page8 {
    background-color: blueviolet;
}

.box {
    height: 300px;
    width: 300px;
    background-color: red;
    border: 2px solid black;
}